.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.settings .btnBlock {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.settings .btnStart {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  width: 407px;
  height: 158px;
  clip-path: polygon(33.254% 5.029%, 33.254% 5.029%, 30.638% 2.151%, 28.026% 0.522%, 25.443% 0%, 22.911% 0.448%, 20.455% 1.725%, 18.098% 3.694%, 15.863% 6.213%, 13.775% 9.145%, 11.858% 12.35%, 10.134% 15.688%, 10.134% 15.688%, 9.468% 16.961%, 8.768% 18.125%, 8.042% 19.211%, 7.3% 20.247%, 6.552% 21.265%, 5.808% 22.295%, 5.077% 23.367%, 4.37% 24.511%, 3.694% 25.758%, 3.061% 27.138%, 3.061% 27.138%, 1.331% 33.569%, 0.333% 42.217%, 0% 52.323%, 0.267% 63.125%, 1.066% 73.864%, 2.332% 83.779%, 3.996% 92.111%, 5.994% 98.098%, 8.258% 100.981%, 10.722% 100%, 10.722% 100%, 13.234% 97.544%, 16.059% 95.904%, 19.107% 94.979%, 22.289% 94.668%, 25.516% 94.868%, 28.698% 95.479%, 31.746% 96.399%, 34.57% 97.527%, 37.081% 98.761%, 39.189% 100%, 39.189% 100%, 41.378% 101.239%, 43.981% 102.473%, 46.905% 103.601%, 50.056% 104.521%, 53.341% 105.132%, 56.667% 105.332%, 59.939% 105.021%, 63.066% 104.096%, 65.952% 102.456%, 68.504% 100%, 68.504% 100%, 70.214% 98.185%, 72.021% 96.788%, 73.902% 95.773%, 75.834% 95.106%, 77.794% 94.75%, 79.76% 94.671%, 81.71% 94.834%, 83.619% 95.204%, 85.465% 95.745%, 87.226% 96.423%, 87.226% 96.423%, 88.346% 96.772%, 89.468% 96.856%, 90.577% 96.663%, 91.66% 96.181%, 92.702% 95.398%, 93.688% 94.304%, 94.605% 92.886%, 95.437% 91.132%, 96.172% 89.032%, 96.793% 86.573%, 96.793% 86.573%, 97.554% 82.77%, 98.271% 78.694%, 98.925% 74.372%, 99.494% 69.832%, 99.958% 65.104%, 100.298% 60.215%, 100.492% 55.195%, 100.521% 50.07%, 100.364% 44.87%, 100% 39.623%, 100% 39.623%, 98.847% 30.803%, 97.203% 23.618%, 95.172% 17.902%, 92.86% 13.488%, 90.37% 10.21%, 87.807% 7.901%, 85.276% 6.395%, 82.882% 5.525%, 80.729% 5.125%, 78.922% 5.029%, 78.922% 5.029%, 76.711% 5.522%, 73.417% 6.783%, 69.249% 8.483%, 64.417% 10.292%, 59.132% 11.882%, 53.603% 12.924%, 48.041% 13.089%, 42.655% 12.047%, 37.656% 9.47%, 33.254% 5.029%);
  background-color: #099684;
}
.settings .field {
  margin-bottom: 20px;
}
.settings .field label {
  margin-right: 10px;
}
.settings .field input[type=number] {
  width: 60px;
}
.settings .field div {
  display: flex;
  gap: 10px;
}