:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --font-family: "Cruinn", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Everlasting", sans-serif;
}

[data-theme=dark] {
  --background-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}