.settings {
  padding: 2rem;
}

.option {
  margin-bottom: 1.5rem;
}

.option label {
  margin-right: 1rem;
}

.option input[type=checkbox] {
  transform: scale(1.5);
}

.option select {
  padding: 0.5rem;
  font-size: 1rem;
}